FQ_DB_HOST=127.0.0.1
FQ_DB_PORT=3306
FQ_DB_NAME=forgottenserver
FQ_DB_USER=floor_quarantine_reader
FQ_DB_PASSWORD=change-me
FQ_ADMIN_USER=staff
FQ_ADMIN_PASSWORD=change-me
FQ_BIND_HOST=127.0.0.1
FQ_BIND_PORT=8787
